@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarina&display=swap');

/*

F2F3ED
9CA9AB
CA753D
B2705A
3C4C4F


4d5645

*/

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
  font-size: 20px;
}

::selection {
  background: #2ddab8;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  color: #3C4C4F;
  /* overflow: hidden; */
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  /* letter-spacing: -.07em; */
  background-color: #F2F3ED;
  font-size: 0.9rem;
}

.brand {
  font-family: 'Sarina', sans-serif;
  margin: 0px;
  display: inline;
}


a {
  color: #3C4C4F;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #CA753D;
}


.loading {
  padding: 10px;
  /* transform: translate3d(-50%, -50%, 0); */
  color: #9c9c9c;
}

#burger-icon {
  height:32px;
  display: none;
  float: right;
  width: 42px;
  fill: #3C4C4F;
}

/*
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
*/

.bottom-left {
  padding: 1.5rem;
}

.nav {
  width: 100%;
  display: inline-block;
  height: 39px;
  border-bottom: 1px solid #CA753D;
}


.nav nav, .nav nav ul, .nav nav ul li {
  display: inline;
}

.nav nav ul li {
  padding-right: 12px;
}

.nav__lang {
  padding: 10px;
  float: right;
}

footer {
  text-align: right;
}


/* .paragraph {} */

.content {
  padding: 10px;
}

.home {
  background-image: url(./Angelo_Gemmi_olive_tree_branch.svg) ;
  background-repeat: no-repeat;
  background-position: 90% 90%;
}

.paragraph img {
  height: 100px;
}

select {
  background-color: #F2F3ED;
  color:#3C4C4F;
  border:none;
  padding:none;
}

.table {display:block; }
.row {
  display:block;
  background-color:none;
}
.row:hover {   background-color:#fff; }

.cell {display:inline-block;}

.label { width: 240px; }

.inmonth {
  background-color:#B2705A;
  border: #B2705A 1px solid;
  width: 22px;
  height: 12px;
}

.outmonth {
  background-color:#CA753D;
  border: #CA753D 1px solid;
  width: 22px;
  height: 12px;
}

.month {
  background-color:none;
  border: transparent 1px #3C4C4F;
  width: 22px;
  height: 12px;
  font-size: 8px;
}

.curmonth {
  background-color:white;
}

img.home {
  max-height: 40%;
  max-width: 40%;

}

div.subnav {
  margin-left:220px;
}

button.btn  {
  color: #CA753D;
  background-color: transparent;
  outline:0;
  border:1px solid #CA753D;
  transition: all 0.3s ease-in-out;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

button.btn:hover  {
  background-color:#CA753D;
  color: #F2F3ED;
}

button.btn__float {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 12%;
  left: 80%;
  max-width: 42px;
  width: 100%;
  font-size: 12px;
  padding: .5px;
  border-radius: 100%;
  height: 42px;
}


@media only screen and (max-width: 767px) {
  /* phones */
	.label {
	  display: block;
  }

  div.subnav {
    display:none;
  }

  #burger-icon {
    transition-timing-function: ease;
    transition: 0.2s;
    display: block;
  }

  #burger-icon.open {
    transform: rotate(90deg);
  }

  .nav nav ul li {

    padding-right: 12px;
    padding: 12px;
    border: 1px solid #CA753D;
}

  nav#main {
    display: none;
    position: absolute;
    width: 100%;
  }

  nav#main.visible {
    display: block;
  }

  nav#main ul li {
    display: block;
    background-color: #fff;
  }




	/* todo "generic" .monthcell or .datacell
  .month, .inmonth , .outmonth  {
		  width: 12px;
		  font-size: 7px;
  }
	*/
}
